/* Reset settings */

* {
    margin-left: 0px;
    padding: 0;
    box-sizing: border-box;
}

ol {
    list-style: none;
    margin-bottom: 20px;
}   

ul {
    margin-top: 30px;
    margin-left: 20px;
    list-style: disc;
    margin-bottom: 30px;
}

/* Doppio punto per uscire dalla cartella */
.header__logo {
    width: 20%;
    margin-left: 10px;
    margin-top: 80px;
    margin-bottom: 30px;
    
}

header{
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-color: #4EA0FF;
    background-size: auto 193%;
}

h1 {
    margin-top: 15px;
    font-size: 36px;
    
}

main {
    margin-left: 5px;
    margin-right: 5px;
}
.main__photo{
    margin-top: 20px;
}

.main__text{
    font-size: 20px;
    margin-left: 5px;
}
th {
    color: white;
    background-color: #20A9E5;
}

table {
    margin-bottom: 30px;
    border: none;
    border-spacing: 0px;
}

.column {
    column-gap: 200px;
}

.column2 {
    column-gap: 200px;
}

footer{
    margin-top: 30px;
    margin-left: 5px 
}

.container {
    position: relative;
    text-align: left;
    color: white;
    margin-top: 15px;
  }

  .top-left {
    position: absolute;
    top: 10px;
    left: 16px;
    font-size: 24px;
    font-weight: 600;
  }
